@import "vars"

*
	margin: 0
	padding: 0

::placeholder
	color: #666

::selection
	background-color: $main-color
	color: #fff

body
	max-width: 1920px
	width: 100%
	margin: 0 auto
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $poppins-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

form.main-form input[type="submit"],
.btn-main
  color: #fff
  text-decoration: none
  text-transform: uppercase
  font-size: 14px
  line-height: 1
  font-family: $poppins-font
  font-weight: bold
  text-align: center
  background: linear-gradient(to right, #82f5f5, #08c6c6)
  padding: 23px 71px
  display: inline-block
  border-radius: 50px
  border: 6px solid #b4efef
  transition: 0.3s
  cursor: pointer
  &:hover
    background: linear-gradient(to left, #82f5f5, #08c6c6)
    transition: 0.3s

.container
	max-width: 1170px
	padding: 0 15px
	box-sizing: border-box
	margin: 0 auto

b, strong
	font-weight: bold
img
	display: block

.section-padding
	padding: 200px 0

.title-block
	text-align: center
	padding-bottom: 80px
	&-p
		font-family: $satisfy-font
		font-size: 32px
		color: $main-color
		text-align: center
		position: relative
		display: inline-block
		&:before,
		&:after
			content: ""
			position: absolute
			background-color: $main-color
			width: 40px
			height: 2px
			top: 49%
		&:before
			left: -60px
		&:after
			right: -60px
	&-h2
		margin: 0
		font-size: 48px
		color: #909090
		text-align: center
		font-weight: bold
		font-family: $ubuntus-font
		line-height: 1

.list-shop-about
	padding-bottom: 30px
	ul
		display: flex
		text-align: center
		justify-content: center
		list-style-type: none
		li
			cursor: pointer
			text-align: center
			transition: .3s
			padding: 10px
			margin: 0 10px
			&.active img,
			&:hover img
				filter: grayscale(0)
				transition: .3s
				box-shadow: 0 1px 2px rgba(12,204,204,.5)
				border-radius: 50%
			p
				color: #999
				font-size: 14px
				font-family: $openSan-font
				padding-top: 5px
		img
			margin: 0 auto
			transition: 0.3s
			filter: grayscale(100%)

.block-buy-about
	display: flex
	padding-bottom: 100px
	&>div
		min-width: 50%
		box-sizing: border-box
		margin: 0 15px
	.block-buy-description
		padding-right: 68px
	.cena-block
		.cena
			color: #4ba924
			font-size: 32px
			font-family: $ubuntus-font
			text-align: right
			font-weight: bold
			text-transform: uppercase
			span
				color: #787878
				font-size: 14px
	.block-buy-name
		h3
			font-size: 40px
			color: #909090
			font-family: $ubuntus-font
			padding-bottom: 20px
	.block-buy-text
		min-height: 120px
		p
			color: #000
			font-size: 16px
			font-family: $openSan-font
	.block-buy-tags
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 25px
		p
			color: #787878
			font-size: 14px
			text-transform: uppercase
			font-family: $poppins-font
			font-weight: 700
	.block-buy-total
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0
		border-top: 1px solid #e4e4e4
		border-bottom: 1px solid #e4e4e4
		p
			color: #787878
			font-size: 14px
			font-family: $poppins-font
			font-weight: 700
			text-transform: uppercase
			display: flex
			align-items: center
			span
				font-size: 28px
				font-weight: 300
				padding-left: 5px
			&.share span
				font-size: 14px
				a
					color: #787878
					transition: 0.3s
					margin-left: 8px
					&:hover
						color: $main-color
						transition: 0.3s
	.block-buy-add
		padding-top: 40px
		padding-bottom: 18px
		display: flex
		align-items: center
		justify-content: space-between
		input
			background-color: #f2f2f2
			border: none
			width: 125px
			height: 60px
			box-sizing: border-box
			padding: 5px 35px
			border-radius: 30px
			color: #787878
			font-family: $poppins-font
			font-size: 16px
			font-weight: 300
			&::placeholder
				color: #787878
				font-family: $poppins-font
				font-size: 16px
				font-weight: 300

	.block-buy-img
		box-shadow: 0 0 40px rgba(153, 153, 153, 0.1)
		.stars
			color: $main-color
			text-align: right
			padding-top: 50px
			padding-right: 30px
		&-wrap
			height: 400px
			display: flex
			align-items: center
			justify-content: center
.tabs-nav
  display: flex
  list-style-type: none
  li
    padding: 18px
    width: 230px
    box-sizing: border-box
    text-align: center
    line-height: 1
    background-color: #909090
    border-radius: 25px 25px 0 0
    font-family: $poppins-font
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    color: rgba(255, 255, 255, 0.68)
    cursor: pointer
    transition: 0.3s
    &:hover,
    &.active
      transition: 0.3s
      background-color: $main-color

.tabs-content
  list-style-type: none
  border-top: 4px solid $main-color
  li
    box-shadow: 0 0 15px #f1eeee
    display: none
    padding: 70px
    padding-top: 50px
    &.active
      display: block
    p
      color: #787878
      font-family: $poppins-font
      font-weight: 300
      font-size: 16px
      line-height: 1.8

.container-wrap
  padding-bottom: 200px

.related
  padding-top: 165px
  .title-block
    padding-bottom: 0
    &-h2
      font-size: 32px

.arrow
  color: $main-color
  font-size: 14px
  font-family: $poppins-font
  font-weight: bold
  cursor: pointer
  transition: 0.3s
  &:hover
    color: #909090
    transition: 0.3s
  &-wrap
    display: flex
    align-items: center
    width: 100%
    justify-content: space-between
    position: absolute
    top: 45%
  &.shop-prev
    position: relative
    left: -90px
    z-index: 1
  &.shop-next
    position: relative
    right: -90px
    z-index: 1

.slider-position
  position: relative
  z-index: 1

.wrap-slider
  position: relative
.shop-wrap-slider
  max-height: 766px
  box-sizing: border-box

@import "header"
@import "form"
@import "home-page"
@import "shop-page"
@import "faq-page"
@import "locations-page"
@import "contact-page"
@import "membership-page"
@import "vibe-page"
@import "about-page"
@import "lab"
@import "footer"
